# Prerequisites
*.d

/x64
/DirectXTex/Bin/Desktop_2019_Win10/x64
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# obj
!Resource/Model/Map/Map.obj
!Resource/Model/MapEnemy/MapEnemy.obj
!Resource/Model/MapGoal/MapGoal.obj
!Resource/Model/MapM/MapM.obj
!Resource/Model/MapWall/MapWall.obj
!Resource/Model/maru/maru.obj

!/Resource/Model/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
